.error-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: normal;
    width: 100%;
}

.error-indicator img {
    width:5rem;
    height: 5rem;
    margin-left: 10px;
}

.error-indicator .boom {
    font-size: 1.8rem;
    color:blueviolet;
}