.header {
  margin-top: .5rem;
  padding-left: 10px;
}

.header ul li {
  list-style: none;
  margin: 0;
  padding: .5rem 1rem;
  border-radius: 3px;
}

.header ul li a {
  color: #ee9933;
}

.header ul li:hover {
  background-color: #444;
  cursor: pointer;
}

.header a:hover {
  text-decoration: none;
}

.header h3 a {
  color: white;
}

.header h3 a:hover {
  color: #ee9933;
}

.toggler {
  height: 2.7rem;
  margin-top: 3px;
  outline: none;
  cursor: pointer;
  line-height: 1.1rem;
} 
